SOAPClient/SOAPClient-war/src/conf/xml-resources/web-service-references/SOAPServiceClient/wsdl/localhost_8080/Conpartir-war/SOAPServiceClient.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://SOAPServer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SOAPServer/">

<xs:element name="client" type="tns:client"/>

<xs:element name="createClient_1" type="tns:createClient_1"/>

<xs:element name="driver" type="tns:driver"/>

<xs:element name="getTravels" type="tns:getTravels"/>

<xs:element name="getTravelsFrom" type="tns:getTravelsFrom"/>

<xs:element name="getTravelsFromResponse" type="tns:getTravelsFromResponse"/>

<xs:element name="getTravelsResponse" type="tns:getTravelsResponse"/>

<xs:element name="travel" type="tns:travel"/>

<xs:complexType name="getTravelsFrom">
<xs:sequence>
<xs:element name="start" type="xs:string" minOccurs="0"/>
<xs:element name="end" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTravelsFromResponse">
<xs:sequence>
<xs:element name="return" type="tns:travel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="travel">
<xs:sequence>
<xs:element name="client_id" type="xs:long" minOccurs="0"/>
<xs:element name="data" type="xs:dateTime" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="driver" type="tns:driver" minOccurs="0"/>
<xs:element name="freeSeats" type="xs:int"/>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
<xs:element name="time" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:sequence>
<xs:element name="carModel" type="xs:string" minOccurs="0"/>
<xs:element name="carYear" type="xs:int"/>
<xs:element name="client" type="tns:client" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="client">
<xs:sequence>
<xs:element name="age" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:unsignedShort"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="urlPhoto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTravels">
<xs:sequence>
<xs:element name="start" type="xs:string" minOccurs="0"/>
<xs:element name="end" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTravelsResponse">
<xs:sequence>
<xs:element name="return" type="tns:travel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createClient_1">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:unsignedShort"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="urlPhoto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>