SOAPClient/SOAPClient-war/src/conf/xml-resources/web-service-references/SOAPServiceClient/wsdl/localhost_8080/Conpartir-war/SOAPServiceClient.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SOAPServer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SOAPServer/" name="SOAPServiceClient">
<wsp:Policy wsu:Id="SOAPServiceClientPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://SOAPServer/" schemaLocation="http://localhost:8080/Conpartir-war/SOAPServiceClient?xsd=1"/>
</xsd:schema>
</types>
<message name="createClient_1">
<part name="parameters" element="tns:createClient_1"/>
</message>
<message name="getDriver">
<part name="parameters" element="tns:getDriver"/>
</message>
<message name="getDriverResponse">
<part name="parameters" element="tns:getDriverResponse"/>
</message>
<message name="createPost">
<part name="parameters" element="tns:createPost"/>
</message>
<message name="createDriver">
<part name="parameters" element="tns:createDriver"/>
</message>
<portType name="SOAPServiceClient">
<operation name="createClient_1">
<input wsam:Action="http://SOAPServer/SOAPServiceClient/createClient_1" message="tns:createClient_1"/>
</operation>
<operation name="getDriver">
<input wsam:Action="http://SOAPServer/SOAPServiceClient/getDriverRequest" message="tns:getDriver"/>
<output wsam:Action="http://SOAPServer/SOAPServiceClient/getDriverResponse" message="tns:getDriverResponse"/>
</operation>
<operation name="createPost">
<input wsam:Action="http://SOAPServer/SOAPServiceClient/createPost" message="tns:createPost"/>
</operation>
<operation name="createDriver">
<input wsam:Action="http://SOAPServer/SOAPServiceClient/createDriver" message="tns:createDriver"/>
</operation>
</portType>
<binding name="SOAPServiceClientPortBinding" type="tns:SOAPServiceClient">
<wsp:PolicyReference URI="#SOAPServiceClientPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createClient_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="SOAPServiceClient">
<port name="SOAPServiceClientPort" binding="tns:SOAPServiceClientPortBinding">
<soap:address location="http://localhost:8080/Conpartir-war/SOAPServiceClient"/>
</port>
</service>
</definitions>